/* VALORES DEL TEMA */
/* FUENTES PRINCIPALES */
// $total-font-family									: 'Open Sans', sans-serif;
// $total-font-family									: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
$total-font-family									: 'Barlow Condensed', sans-serif;
$font-style                         : italic;
/* ANCHOS Y ALTOS DE PANTALLA */
$mx-width: 1220px;