@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #242424;
}
a{
	text-decoration: none;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
#ccffs89_51-2ifc099{
	display: block;
	color: red;
}
input[type="radio"], input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
.dc_show{
	display: none;
	opacity: 0;
	visibility: hidden;
	user-select: none;
}
*[mod-integration='production']{
	color: #367dff !important;
}
*[mod-integration='test']{
	color: #f3545d !important;
}
.mxw-100{
	max-width: 100% !important;
	width: 100%;
}
/* CUSTOMS */
.cLogo__modal-header{
	max-width: 190px;
	width: 95%;
	height: auto;
	margin: 0 auto;
	img{
		padding: 0;
	}
	h1,h2,h3,h4,h5,h6, p{
		margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
	}
}
/* PAYMENT */
.c-frmpayment_dmss{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: nowrap column;
	flex: 0 0 100%;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	&__cLogo{
		max-width: 215px;
		width: 90%;
		padding: 1rem 0;
	}
}
.swtchStyl--Rock{
	@include switch-Rocker-style(0.65rem, #222, #367dff, #f3545d);
}
/* SWITCH DEL VALIDACIÓN */
.switch {
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.switch+.switch-body {
	position: relative;
	display: inline-block;
	margin: 0;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.switch.switch-bootstrap+.switch-body:before {
	background-color: #d2d9e1;
	width: 50px;
	height: 25px;
	-webkit-transition: background 0.1s ease;
	-o-transition: background 0.1s ease;
	transition: background 0.1s ease;
}
.switch+.switch-body:before {
	content: "";
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 100px;
	top: auto;
}
.switch.switch-bootstrap:checked+.switch-body:after {
	left: 25px;
	background-color: #FFF;
	border: thin solid #eee;
	text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
.switch.switch-bootstrap+.switch-body:after {
	content: '';
	position: absolute;
	top: 0;
	left: 1px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: thin solid #eee;
	-webkit-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	transition: left 0.2s ease;
}
.switch+.switch-body+.switch-text {
	display: inline-block;
	padding-top: 2px;
	font-size: 13px;
}
/* CUSTOMS */
#header_search_form .input-group-btn,
#header_search_form-mob .input-group-btn{
	top: 20px;
}
.checkut-page .card-body h1,
.checkut-page .card-body h2,
.checkut-page .card-body h3,
.checkut-page .card-body h4,
.checkut-page .card-body h5,
.checkut-page .card-body h6{
	font-weight: 600;
}
.site-header .search-box-wrap .input-group .serch-result .s-r-inner{
	max-height: 380px !important;
	height: auto !important;
}
.cCt_wtpsNmbrs{
	&__c{
		&__m{
			border: thin solid #eee;
			box-shadow: 0 3px 3px 0px #eee;
			border-radius: 4px;
			margin-bottom: 1rem;
			padding: 10px 15px 10	px 10px ;
			&__i{
				
			}
		}
	}
}
.cFrmCtrl__cIcon--R{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	max-width: 42px;
	width: 42px;
	padding: 0 .6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 3;
	user-select: none;
	svg{
		display: table;
    fill: #666;
	}
}
.cLogoFrmSignInAdm{
	max-width: 185px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.cCrd{
	&__cTitle{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom: 1rem;
	}
	&__cTitle__cL{
		margin-right: auto;
		width: auto;
	}
	&__cTitle__cR{
		margin-left: auto;
		width: auto;
		a{
			padding: 3px 10px !important;
		}
	}
}
.cDownPDF__cTitle__c{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}
.cDownPDF__cTitle__c__cBtnDown{
	margin: 0 auto 0 auto;
	width: auto;
	@media(min-width: 768px){
			margin: 0 0 0 auto;
	}
}
#cTentr-af1698__1prevChckp span svg{
	width: 27px;
	height: 28px;
	fill: #fff;
	position: relative;
	top: 4px;
	margin-left: 6px;
}

.border-list-switchs{
	border: thin solid #ededed;
	border-radius: 4px;
}
.c-sWitch__c--cDesign-1{
	&__c{
		position: relative;
  	display: inline-block;
		top: 4px;
    margin-right: 0.45rem;
		&::after,
		&::before{
			font-family: FontAwesome;
			font-feature-settings: normal;
			-webkit-font-kerning: auto;
							font-kerning: auto;
			font-language-override: normal;
			font-stretch: normal;
			font-style: normal;
			font-synthesis: weight style;
			font-variant: normal;
			font-weight: normal;
			text-rendering: auto;
		}
		label{
			width: 35px;
			height: 18px;
			background: #ccc;
			position: relative;
			display: inline-block;
			border-radius: 46px;
			transition: 0.25s;
			margin-bottom: 0 !important;
			&::after{
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				border-radius: 100%;
				left: 0;
				// top: -5px;
				top: 0;
				z-index: 2;
				background: #fff;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
				transition: 0.25s;
			}
		}
		input{
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
			height: 100% !important;
			z-index: 5 !important;
			opacity: 0 !important;
			cursor: pointer !important;
		}
		input:checked + label{
			background: #4BD865;
		}
		input:checked + label:after{
			left: 17px;
		}
		&__label{
			width: 75px;
			&::after{
				top: 0;
				width: 42px;
				height: 42px;
			}
		}
	}
}
.c-sRadioBtn__c--cDesign-1{
	&__c{
		position: relative;
  	display: inline-block;
		top: 2px;
		label{
			
		}
		&__label{
			
		}
	}
}
.cPreviewAmmountIGV{
	span{
		&:first-child{
			color: #000;
		}
		&:nth-child(2){
			font-weight: bold;
			color: #4BD865;
		}
		&:last-child{

		}
	}
}
#c-modalPrevOrderPDF{
	max-width: 1360px !important;
	width: 96% !important;
	height: 100%;
	margin: 0.75rem auto 1.75rem auto;
}
#c-modalPrevOrderPDF .modal-content{
	height: 100%;
}
#cTentr-af1698__1prevChckp-show{
	width: 100%;
	height: 100%;
}
#cTentr-af1698__1prevChckp-show embed{
	width: 100%;
	height: 100%;
}
#cTentr-af1698__1prevChckpPDFDown span{
	position: relative;
	top: -1px;
}
#cTentr-af1698__1prevChckpPDFDown svg{
	position: relative;
	fill: #fff;
	top: 2px;
}
#cTentr-af1698__1prevChckp span svg{
	width: 27px;
	height: 28px;
	fill: #fff;
	position: relative;
	top: 4px;
	margin-left: 6px;
}
.cDownPDF__cTitle__c{
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	flex-flow: row wrap !important;
	width: 100%;
	max-width: 100%;
}
.cDownPDF__cTitle__c__cBtnDown{
	margin: 0 auto 0 auto !important;
	width: auto !important;
	@media(min-width: 768px){
		margin: 0 0 0 auto !important;
	}
	a{
		font-size: 15px;
	}
}
.btn-close{
	padding: .5rem .5rem;
	margin: 0.5rem 0.5rem 0 auto;
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: .25em .25em;
	color: #000;
	background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	border: 0;
	border-radius: .25rem;
	opacity: .5;
	font-size: 15px;
}

.equals-values{
	border: 2px solid rgb(173, 204, 204) !important;
	box-shadow: 0px 0px 27px rgb(204, 204, 204) inset !important;
	// transition: 500ms all ease !important;
	border: 1px solid red !important;
}
#spn__iptequalsmssg.active{	
	padding: 5px 0 0 5px !important;
	margin: 5px 0px 0px 1px !important;
	display: block !important;
	color: red !important;	
}


label.color-picker {
  width: auto; /* Width of color picker */
  border: 1px solid #ccc; /* Outer border */
  border-radius: 3px; /* Border radius of outer border */
  padding: 5px; /* Space between outer border and color picker */
  background: #fff; /* Color between outer border and color picker */
  display: block; /* Contain color picker within label */
	margin-bottom: 0 !important;
	cursor: pointer !important;
}
label.color-picker > span {
  border: 1px solid #ccc; /* Border around color in color picker */
  display: block; /* Contain color picker within span */
	cursor: pointer !important;
}
label.color-picker > span > input[type=color] {
  height: 26px; /* Height of color picker */
  display: block; /* Avoids space above/below color picker */
  width: 100%; /* Fill available horizontal space */
  border: none; /* Remove browser's border */
  padding: 0px; /* Remove space around color picker in Chrome */
	cursor: pointer !important;
	left: 0;
}
/* Chrome styles */
label.color-picker > span > input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0; /* Remove browser's padding around color picker */
}
label.color-picker > span > input[type=color]::-webkit-color-swatch {
  border: none; /* Remove browser's border around color in color picker */
}
/* CUSTOMS INVOICE ORDERS */
.c-attrPrd__color{
	&__title{
			display: block;
	}
	&__m{
			&__i{
					display: inline-block;
					width: 30px;
					height: 30px;
					border: thin solid #000;
			}
	}
}
.c-sctGroupList{
	padding: 10px;
	margin-top: 10px;
}
.c-zTitleSectionFloating{
	position: absolute;
	top: -15px;
	background-color: #fff;
	padding: 4px 10px;
	left: 5px;
	border-radius: 7px;
	&__txt{
		color: #495057 !important;
	}
	strong{
		color: #000 !important;
		font-weight: bold !important;
	}
}
.scGroupElems-sectionList{
	padding: 15px;
	border: thin solid #ebedf2;
	border-radius: .25rem;
	position: relative;
	// background-color: #f5f5f5;
	&__c{
		&__deftxt{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 10px 0;
			p{
				margin: 0;
				font-size: 13px;
			}
		}
	}
}
#mapa{
	width: 100%;
	height: 300px;
	// background-color: red;
}
.mssgSmall{
	margin-left: 10px;
	small{
		color: #fff;
		border: thin solid #ddd;
		padding: 2px 8px 4px 8px;
		border-radius: 6px;
		font-size: 0.7rem !important;
	}
	&__expired{
		background-color: #f3545d;
	}
	&__not-expired{
		background-color: #35cd3a;
	}
}
// -------------- TABLA DE RESUMEN ORDEN EN USAR
.c_tblMobAdaptative{
	overflow: auto;
}
#tbl-user_invoice{
	min-width: 1000px;
	overflow-y: auto;
	overflow-x: auto;
	thead{
		tr{
			th{
				font-size: 12px;
				span{
					font-size: 12px;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				font-size: 12px;
				span{
					font-size: 12px;
				}
			}
		}
	}
}
// -------- HOVER IMG IN LIST TABLE
.link_viewTargetBlankImg{
	display: table;
	vertical-align: middle;
	border: thin solid transparent;
	&:hover{
		border: thin solid #177dff;
	}
	img{}
}